/* @media only screen and (max-width: 1920px) {
    [class="top-section-hero"]
    {
        height:100%;
    }
} */

/* @media only screen and (max-width: 600px) {
    
} */

.fill {
    background-size: 100% 100%;
}

.right-nav-button {
	margin-bottom: 5px;
}

.logo {
	background-repeat: round;
}

.logo-navbar {
	-webkit-transform: scale(2.0);
	transform: scale(2.0);
	margin: 20px 20px 0 -37px;
}